.container{
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    row-gap: 10px;
}
.box{
    width:100px ;
    height: 100px;
    background-color: antiquewhite;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}